.heading {
  text-align: center;
  font-size: 2em;
  margin: 50px;
}

.row {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}

.image {
  margin: 20px 0;
  width: 22.5vw;
  height: 22.5vw;
  border-radius: 5px;
  background-size: cover;
  background-position: center;
  cursor: pointer;
}

@media(max-width: 1500px) {
  .heading {
    font-size: 1.3em;
  }
  .image {
    width: 28vw;
    height: 28vw;
  }
}

@media(max-width: 750px) {
  .heading {
    font-size: 1.3em;
  }
  .image {
    width: 90vw;
    height: 90vw;
  }
}