.Home {
  width: 80%;
  margin: 0 auto;
  text-align: center;
  background-color: white;
  border-radius: 5px;
  padding: 20px;
}

.Home img {
  width: 60%;
  margin: 20px;
}

.Home p {
  text-align: left;
}



