.Home {
  width: 80%;
  margin: 0 auto;
  text-align: center;
  background-color: white;
  border-radius: 5px 5px 0 0;
  padding: 20px;
}

.Home img {
  width: 60%;
  margin: 20px;
}

.Home p {
  text-align: left;
}

@media(max-width: 500px) {
  .Home p {
    text-align: center;
  }
}



