.History {
  min-height: 100vh;
  padding-top: 60px; 
}

.History h1 {
  text-align: center;
}

.Row {
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 40vh;
}

.Corner {
  width: 30vw;
  height: 100%;
  background-image: url('../../../Assets/Corner.jpeg');
  background-size: cover;
}

