.Faq {
  min-height: 100vh;
  padding-top: 60px;
}

.Faq h1 {
  text-align: center;
}

.Faq p {
  padding: 0 20px;
}

.Column {
  min-height: 95%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}