@import url('https://fonts.googleapis.com/css?family=BioRhyme:400,700');

html {
  box-sizing: border-box;
}

*, *::after, *::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

body {
  font-family: 'BioRhyme', sans-serif;
  width: 100vw;
  overflow-x: hidden;
}



