.ClickableImage {
  width: 30vw;
  height: 40vh;
  background-size: cover; 
  cursor: pointer;
  border-radius: 5px; 
}

.Armory {
  background-image: url('../../Assets/armory2.jpg');
  background-position: center;
}

.Car {
  background-image: url('../../Assets/linemen.jpg');
  background-position: center;
} 

.Basketball {
  background-image: url('../../Assets/gym.png');
  background-position: center;
}

.Damage {
  background-image: url('../../Assets/facade.jpeg');
  background-position: center;
}

.Castle {
  background-image: url('../../Assets/armory.png');
  background-position: center;
}

.Ballroom {
  background-image: url('../../Assets/balcony.jpg');
  background-position: center;
}

.Table {
  background-image: url('../../Assets/table.jpg');
  background-position: center;
}