.Home {
  width: 100vw;
  height: 90vh;
  background-image: url('../../../Assets/Couple.jpg');
  background-size: cover;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding-right: 20px;
  color: white;
  font-size: 1.3rem;  
}

.Home p {
  font-size: 1.7rem;  
}

.Column {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center
}

.Row {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 100%;
  min-height: 80vh;
}

.Linemen {
  width: 30vw;
  min-height: 40vh;
  background-image: url('../../../Assets/linemen.jpg');
  background-size: cover;
  background-position: bottom;
}

.Castle {
  width: 30vw;
  min-height: 40vh;
  background-image: url('../../../Assets/armory.png');
  background-size: cover;
  background-position: bottom;
}

.Balcony {
  width: 30vw;
  min-height: 40vh;
  background-image: url('../../../Assets/balcony.jpg');
  background-size: cover;
  background-position: bottom;
}