.Home {
  margin: 0 auto;
  text-align: center;
  padding: 20px;
}

/* .Home img {
  width: 60%;
  margin: 20px;
}

.Home p {
  text-align: left;
}

@media(max-width: 750px) {
  .Home p {
    text-align: center;
  }
} */



