.Header {
  width: 100%;
  position: fixed;
  top: 0;
  background-color: white;
}

.Header header {
  height: 50px;
  border: 1px solid #ccc;
  /* box-shadow: 0 2px 3px #eee; */
}

.Header nav {
  height: 100%;
  display: flex;
  align-items: center;
}

.Header ul {
  width: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.Header li {
  display: flex;
  align-items: center;
}

.Header a {
  color: rgb(11, 65, 29);
  
}

.Header a:hover,
.Header a.active {
  color:rgb(221, 198, 173);
}

@media(max-width: 500px) {
  .Header {
    display: none;
  }
}