.Toolbar {
  width: 100%;
  position: fixed;
  top: 0;
  background-color: white;
  padding: 20px;
}

.Toolbar a.active {
  color: #aaa;
}

@media(max-width: 750px) {
  .Toolbar {
    display: none;
  }
}