.Banner {
  width: 100vw;
  height: 80vh;
  background-size: cover;
  display: flex;
  justify-content: center;
  font-size: 1.6rem; 
  text-align: center;
  padding: 30px; 
  color: white;
}

.Castle {
  background: url('../../Assets/Castle.jpeg');
  background-position: center;
  /* align-items: flex-end; */
}

.Ballroom {
  background: url('../../Assets/Ballroom.jpeg');
  background-position: center;
  align-items: center;
}